body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Form{
  flex-direction:column;
  height:auto;
  width:70%;
  max-width: 600px;
  border-radius:8px;
  align-self:center;
  display:flex;
  align-items:center;
  background-Color:rgb(0, 182, 171);
  color:white;
  margin:8% ;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  letter-Spacing: 0.03em;
  justify-content:center;
  padding: 30px;
  box-shadow: 0px 4px 4px rgba( 0, 0, 0.25, 0.25);
}
.Form>input{
  border-radius: 8px;
  font-size: 20px;
  letter-spacing: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 90%;
  max-width: 500px;
}
.Form>button{
  color: white;
  background-color: #50E2EB;
  font-size: 30px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Form>button>p{
  margin: 0;
  padding: 0;
}
.Form>p{
  align-self: center;
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

button:active {
  animation: pulse 0.2s ease-in-out;
}
.App{
  display:flex;
  flex-direction:column;
  justify-content:center;
}

*{
  border: none;
}
.Form>*{
  margin-top: 15px;
  margin-bottom: 15px;
}
.Header{display:"grid";flex-Wrap:"wrap";background-Color:"#00b6ab";width:"100%";margin:"0";padding:"0";justify-content:"center"}